<h1 mat-dialog-title>Match Prediction</h1>
<div mat-dialog-content>
  <b>Match Information</b>
  <div *ngIf="h2hLoaded; else elseBlock">
    <table mat-table [dataSource]="tableDataSourceInformation" class="mat-elevation-z8">
      <tr mat-header-row *matHeaderRowDef="displayedColumnsInformation"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsInformation;"></tr>
      <ng-container matColumnDef="Player">
        <th mat-header-cell *matHeaderCellDef>Player</th>
        <td mat-cell *matCellDef="let element"> 
          {{element.player}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Current Rank">
        <th mat-header-cell *matHeaderCellDef>Current Rank</th>
        <td mat-cell *matCellDef="let element"> 
          {{element.rank}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Head to Head">
        <th mat-header-cell *matHeaderCellDef>Head to Head</th>
        <td mat-cell *matCellDef="let element"> 
          <a target="_blank" href="https://www.tennisabstract.com/cgi-bin/player-classic.cgi?p={{element.playerParsed}}&f=ACareerqq&q={{element.opponent}}">{{element.h2h}}</a>
        </td>
      </ng-container>
    </table>
    <div class="smallFontSize margin">Match Information Statistics may be incorrect for older tournaments</div>
  </div>
  <ng-template #elseBlock>
    <div class="margin">
      <loading [text]="loadingText"></loading>
    </div>
  </ng-template>
  <p></p>
  <p></p>
  <b>Match Prediction</b>
  <form [formGroup]="tennisScores">
    <table mat-table [dataSource]="tableDataSourcePrediction" class="mat-elevation-z8" formArrayName="playerScore">
      <tr mat-header-row *matHeaderRowDef="displayedColumnsPrediction"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPrediction;"></tr>
      <ng-container matColumnDef="Player">
        <th mat-header-cell *matHeaderCellDef>Player</th>
        <td mat-cell *matCellDef="let element; let i=index" [formGroupName]="i"> 
          {{element.get("player").value}}
        </td>
      </ng-container>
      <ng-container matColumnDef="First Set">
        <th mat-header-cell *matHeaderCellDef>First Set</th>
        <td mat-cell *matCellDef="let element; let i=index" [formGroupName]="i"> 
          <input type="text" pattern="[0-7]{1}" [maxLength]="1" formControlName="firstSet" [value]="element.firstSet"/> 
        </td>
      </ng-container>
      <ng-container matColumnDef="Second Set">
        <th mat-header-cell *matHeaderCellDef>Second Set</th>
        <td mat-cell *matCellDef="let element; let i=index" [formGroupName]="i"> 
          <input type="text" pattern="[0-7]{1}" [maxLength]="1" matInput formControlName="secondSet" [value]="element.secondSet"/> 
        </td>
      </ng-container>
      <ng-container matColumnDef="Third Set">
        <th mat-header-cell *matHeaderCellDef>Third Set (if necessary)</th>
        <td mat-cell *matCellDef="let element; let i=index" [formGroupName]="i"> 
          <input type="text" pattern="[0-7]{1}" [maxLength]="1" formControlName="thirdSet" [value]="element.thirdSet"/> 
        </td>
      </ng-container>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <p>Choose the winning player</p>
  <button [ngClass]="{'chosenButton': this.data.playerWinner==data.player1.playerName}"mat-button (click)="setPlayerWinner(data.player1.playerName, 0)">{{data.player1.playerName}}</button>
  <button [ngClass]="{'chosenButton': this.data.playerWinner==data.player2.playerName}"mat-button (click)="setPlayerWinner(data.player2.playerName, 1)">{{data.player2.playerName}}</button>
  <button mat-button [disabled]="!data.playerWinner" (click)="sendData()">Submit</button>
</div>