.bracket {
  display: flex;
  flex-direction: row;
  height: 95vh;
}

.button {
  top: 1em;
  position: sticky;
  align-self: start;
  display: flex;
  flex-direction: column;
  padding: 0.25em;
}

.margin {
  margin-top: 0.5em;
}

.brackets-viewer {
  width: 130%;
}

.loading {
  display: flex;
  width: 130%;
  height: 95vh;
  justify-content: center;
  align-self: center;
}

button:active {
  box-shadow: inset 0em 0em 0.8em #666666;
}

.center {
  text-align: center;
}

.smallFontSize {
  font-size: x-small;
}

.buttonWidth {
  width: 25vw;
}