.bracket {
  display: flex;
  flex-direction: row;
  height: 98vh;
}

.button {
  top: 1em;
  position: sticky;
  align-self: start;
  display: flex;
  flex-direction: column;
}

.margin {
  margin-top: 0.5em;
}

.brackets-viewer {
  width: 130%;
}

.loading {
  width: 130%;
}

button:active {
  box-shadow: inset 0em 0em 0.8em #666666;
}