<div class="bracket">
  <div #bracket class="brackets-viewer"></div>
  <ng-container *ngIf="loadedBracketData; else notLoaded">
    <div class="button">
      <button mat-button (click)="navigateToChooseTournaments()">Choose Another Tournament</button>
      <ng-template [ngIf]="type=='predict'">
        <button mat-button class="margin" (click)="sendBracketInfo()">Save Bracket</button>
      </ng-template>
      <div *ngIf="!viewQF">
        <h4>View a Seeded Player's POV:</h4>
        <mat-form-field>
          <mat-label>Select Player</mat-label>
          <mat-select [(ngModel)]="selectedPlayer">
            <mat-option *ngFor="let player of seededPlayers" [value]="player" (click)="scrollToTopPlayer()">
              {{player.playerName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-template [ngIf]="type=='view'">
        <div *ngIf="viewQF; else notViewQF">
          <button mat-button class="margin" (click)="switchBracketView()">Switch to Full Bracket View</button>
        </div>
        <ng-template #notViewQF>
          <button mat-button class="margin" (click)="switchBracketView()" [disabled]="!isEnabledViewQF">Switch to QF+ View</button>
        </ng-template>  
      </ng-template>
      <ng-template [ngIf]="type=='predict'">
        <h3 class="center">Prediction Rate: {{correctPredictions}}/{{totalPredictions}}</h3>
        <div class="center smallFontSize">*Prediction Rate counts only matches that have already happened</div>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #notLoaded>
    <loading class="loading" [text]="loadingText"></loading>
  </ng-template>
</div>