.bracket {
  display: flex;
  flex-direction: row;
}

.button {
  top: 1em;
  position: sticky;
  align-self: start;
  display: flex;
  flex-direction: column;
}

.margin {
  margin-top: 0.5em;
}

.brackets-viewer {
  width: 130%;
}