To generate a new secret key, use get_random_secret_key() in Python: 
  from django.core.management.utils import get_random_secret_key 
    print(get_random_secret_key()) 
Warning: The % character is special to ConfigParser - use %%  
Warning: Changing secret keys invalidates existing sessions, 
         so may need to delete your DB tables and re-migrate 
 
[Django] 
Secret_KEY=<random_secret_key>