.licenses { 
  display: flex;
}

.button {
  top: 5vh;
  padding: 0.25em;
  position: sticky;
  align-self: start;
  white-space: nowrap;
}

button:active {
  box-shadow: inset 0em 0em 0.8em #666666;
}

.allLicenses {
  width: 120%;
}