/* You can add global styles to this file, and also import other style files */

// angular popups works normally with this import
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

// colors frequently used
:root {
  --tennis-color: #9CB879;
}

// remove bracket-viewers seeds to add custom seeds from backend
.brackets-viewer .participant .name>span {
  display: none;
}

// widen match boxes to show full player names
.brackets-viewer .match {
  width: 17em;
}

// space out scores to look like multiple scores
.brackets-viewer .participant .result {
  letter-spacing: 0.2em;
  line-height: 1.8em; // alignment needed due to player images
}

// for player images
.brackets-viewer .participant .name>img {
  width: 1em;
  height: 2em;
}

// align BYE text to look similar to players in bracket
.brackets-viewer .participant .name.bye {
  height: 2em; // same height as .brackets-viewer .participant .name>img selector
  padding-left: 1.3em;
  padding-top: 0.2em;
}

// remove arrow from header of table when choosing tournaments
.mat-sort-header-arrow {
  display: none !important;
  width: 0% !important;
  height: 0% !important;
}

// table header "tournament title" is centered on choosing tournament page
.mat-sort-header-content {
  width: 100%;
  justify-content: center;
}

// standardize button color to tennis green color
button {
  background-color: var(--tennis-color);
}

// keyframe for animation for briefly highlighting player
@keyframes tempHighlight {
  0% {
    background-color: var(--tennis-color); // tennis green color
  }
  100% {
    background-color: white;
  }
}

// animation for briefly highlighting player 
.playerHighlight {
  animation-name: tempHighlight; 
  animation-duration: 3s;
}

// highlight predicted winner names of correct predictions
.correctPrediction {
  color: var(--win-color);
}

// highlight and strikethrough predicted winner names of incorrect predictions
.incorrectPrediction {
  color: var(--loss-color);
  text-decoration: line-through;
}

// remove margin and padding for header
body {
  margin: 0;
  padding: 0;
}