/* You can add global styles to this file, and also import other style files */

// remove bracket-viewers seeds to add custom seeds from backend
.brackets-viewer .participant .name>span {
  display: none;
}

// widen match boxes to show full player names
.brackets-viewer .match {
  width: 17em;
}

// space out scores to look like multiple scores
.brackets-viewer .participant .result {
  letter-spacing: 0.2em;
  line-height: 1.8em; // alignment needed due to player images
}

// for player images
.brackets-viewer .participant .name>img {
  width: 1em;
  height: 2em;
}